<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastNewText</key>
	<string></string>
	<key>OldNewText</key>
	<string></string>
	<key>StartingNumber</key>
	<integer>1</integer>
	<key>ModeIndex</key>
	<integer>0</integer>
	<key>AutoQuit</key>
	<true/>
	<key>UseFloatingWindow</key>
	<false/>
	<key>HistoryMax</key>
	<integer>10</integer>
	<key>Presets</key>
	<array>
		<dict>
			<key>name</key>
			<string>name1</string>
			<key>mode</key>
			<integer>0</integer>
			<key>startingNumber</key>
			<integer>1</integer>
			<key>search</key>
			<string>aaa</string>
			<key>replace</key>
			<string>bbb</string>
			<key>leadingZeros</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>name1</string>
			<key>mode</key>
			<integer>1</integer>
			<key>startingNumber</key>
			<integer>1</integer>
			<key>search</key>
			<string>ccc</string>
			<key>replace</key>
			<string>ddd</string>
			<key>leadingZeros</key>
			<true/>
		</dict>
	</array>
	<key>SelectedTabIndex</key>
	<integer>0</integer>
	<key>LeadingZeros</key>
	<true/>
	<key>applicationsFloatingOn</key>
	<array>
		<dict>
			<key>appName</key>
			<string>Finder</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>PowerRenamer</string>
		</dict>
	</array>
</dict>
</plist>
