<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastNewText</key>
	<string></string>
	<key>OldNewText</key>
	<string></string>
	<key>StartingNumber</key>
	<integer>1</integer>
	<key>ModeIndex</key>
	<integer>0</integer>
	<key>AutoQuit</key>
	<true/>
	<key>UseFloatingWindow</key>
	<false/>
	<key>HistoryMax</key>
	<integer>10</integer>
	<key>ignoringFinderResponses</key>
	<true/>
	<key>SelectedTabIndex</key>
	<integer>0</integer>
	<key>Presets</key>
	<array>
		<dict>
			<key>leadingZeros</key>
			<true/>
			<key>mode</key>
			<integer>4</integer>
			<key>name</key>
			<string>01)name1, 02)name2, ...</string>
			<key>replace</key>
			<string>$#)</string>
			<key>search</key>
			<string>^(\d+\))?</string>
			<key>startingNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>leadingZeros</key>
			<true/>
			<key>mode</key>
			<integer>4</integer>
			<key>name</key>
			<string>name01.xxx, name02.xxx, ...</string>
			<key>replace</key>
			<string>$1$#$3</string>
			<key>search</key>
			<string>^(\D+)(\d+)?(\.\S+)</string>
			<key>startingNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>leadingZeros</key>
			<true/>
			<key>mode</key>
			<integer>2</integer>
			<key>name</key>
			<string>.htm-&gt;.html</string>
			<key>replace</key>
			<string>.html</string>
			<key>search</key>
			<string>.htm</string>
			<key>startingNumber</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>LeadingZeros</key>
	<true/>
	<key>applicationsFloatingOn</key>
	<array>
		<dict>
			<key>appName</key>
			<string>Finder</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>PowerRenamer</string>
		</dict>
	</array>
</dict>
</plist>
