<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastNewText</key>
	<string></string>
	<key>OldNewText</key>
	<string></string>
	<key>ModeIndex</key>
	<integer>0</integer>
	<key>AutoQuit</key>
	<true/>
	<key>UseFloatingWindow</key>
	<false/>
	<key>applicationsFloatingOn</key>
	<array>
		<dict>
			<key>appName</key>
			<string>Finder</string>
		</dict>
		<dict>
			<key>appName</key>
			<string>PowerRenamer</string>
		</dict>
	</array>
</dict>
</plist>
