a:link {
	color: #6666ff  }
a:visited {
	color: #999966  }
a:active {
	color: #66ff66  }
body { color: black; font-size: 11px; background-color: white  ; margin-left: 0; padding-left: 0; font-family: "Lucida Grande", Arial, sans-serif; margin-right: 0; padding-right: 0; }
.doctitle  { font-weight: bold; font-size: 140%; background: white url(assets/topicTitleBackground.png) repeat-x left bottom; margin: 0; padding-top: 0.5ex; padding-bottom: 1.5ex; padding-left: 20px; text-shadow: 0em 0.4em 0.3em rgba(0,0,0,0.5)   }
#layout-frame { background-color: white; position: relative; margin: 0; padding: 10px 0 0; min-width: 450px; overflow: hidden; }
#main-column { background-color: white; position: relative; min-width: 200px; margin-right: 180px; margin-bottom: 10px; margin-left: 10px; padding-right: 10px; }
#side-column { float:right ; width: 170px; z-index: -1; margin:0; padding: 0 10px 0 0; border-color: #789; border-width: 1px; }
.sidecolumn-boxtitle {font-size: 110%; font-weight: bold; background: white url(assets/topicTitleBackground2.png) repeat-x 100% 100%; margin: 0; padding: 0.5em 0.5em 1em 1em; text-shadow: 0em 0.4em 0.3em rgba(0,0,0,0.5); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background-size: 100% 100%;}
.sidecolumn-box { margin: 0 0 1ex; padding: 0; border-color: #789; border-width: 1px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.sidecolumn-box p { margin-left: 1em; margin-right:0;}
#main-column p { margin: 0 0 1em 20px; padding: 0; }
.first-level { font-size: 120%; font-weight: bold; background-image: url(assets/list-triangle-14.png); background-repeat: no-repeat; background-position: left center; margin: 1.2em 0 0.5em; padding: 0 0.5em 0 20px; }
.doctitle img { vertical-align: middle; }
body { background-color: #dcdcdc; max-width: 1250px; margin: 0 auto;}